.post-list {
    display: flex;
    margin: 4rem;
    flex-direction: column;
    background-color:rgb(33 222, 244);
}
.post-list h1 {
    background-color: blue;
    color: beige;
}
.post-list li {
    margin: 1em;
    overflow: auto;
}